.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 3px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    /* font-family: 'Lobster', cursive; */
}
.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 15px 0;
}
.text-center{
    text-align: center;
}
